// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  color: #6699ff;
  font-size: 50px;
  text-align: middle;
}

.subtitle {
  color: #0099cc;
}

.price {
  color: #000066;
}

.description {
  color: #00ff00;
}