// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color2 {
  color: #99ff33;
}

.color1{
  color: #cc0000;
}

.sale_message {
  color: red;
}

.carousel_size {
  display: block;
  margin: auto;
  max-height: 325px;
  max-width: 600px;
}

.page-header {
  background: url("http://www.by-the-sword.com/images/product/micro/GoT-9_3_.jpg");
  background-size: 80px 80px;
  padding-top: 65px;
  text-align: center;
  color: #0099cc;
  font-size: 50px;
  margin-top: 20px;
}

body {
  padding: 30px;
  font-family: 'Droid Serif', serif;
  background-image: url(psychedelic_pattern.png)
  
}


.border {
  border-style: solid;
  border-color: black;
  border-radius: 35px;
}


.subtitle {
  background-color: black;
  color: #0099cc;
  font-size: 45px;
  text-align: center;
  border-width:5px;  
  border-style:groove;
  border-color: #0099cc;
  margin-left: 5px;
  margin-right: 5px;
}

.name {
  font-size: 30px;
  text-align: center;
}

.price {
  color: #ff6699;
  font-size: 30px;
  text-align: center;
}

.description {
  color: #66ff66;
  font-size: 30px;
  text-align: center;
  
}

.img-class {
  height: auto;
  width: auto;
  display: block;
  margin: auto;
  max-height: 250px; 
}

.carousel-inner {
  height: auto;
  width: auto;
  margin: auto;
 
}
  




