<h><%= @page_title %>


<p>we are better than amazon! less items, higher prices, extra fee shipping!</p>

<% @products.each do |product| %>

  <b><%= product.name %></b>
  <%= image_tag product.image %>

<% end %>
