<h1>Item saved!</h1>

<div>Item name: <%= @products.name %></div>
<div>Item price: <%=@products.price %></div>
<div>Item image: <%=@products.image %></div>
<div>Item description: <%=@products.description %></div>